@import 'tailwindcss';

:root {
  /* App palette */
  --pipe-color-text: #3a4b59;
  --pipe-color-border: #b3b4bc;
  --pipe-color-bg: #ffffff;
  --pipe-color-heading: #243747;

  --pipe-color-primary: #601528;
  --pipe-inverse-color-primary: #b8284b;
  --pipe-hover-color-primary: #8c1e3a;
  --pipe-active-color-primary: #b8284b;

  --pipe-color-secondary: #607d8b;
  --pipe-inverse-color-secondary: #37474f;
  --pipe-hover-color-secondary: #455a64;
  --pipe-active-color-secondary: #263238;
}

.app-dark-mode {
  /* App palette */
  --pipe-dark-color-text: #ffffff;
  --pipe-dark-color-border: #1c242b;
  --pipe-dark-color-bg: #3a4b59;
  --pipe-dark-color-heading: #2e3c47;

  --pipe-dark-color-primary: #b8284b;
  --pipe-dark-inverse-color-primary: #601528;
  --pipe-dark-hover-color-primary: #8c1e3a;
  --pipe-dark-active-color-primary: #4d1126;

  --pipe-dark-color-secondary: #37474f;
  --pipe-dark-inverse-color-secondary: #607d8b;
  --pipe-dark-hover-color-secondary: #455a64;
  --pipe-dark-active-color-secondary: #263238;
}
